/* NotoSansKR */

@font-face {
    font-family:'NotoSansKR';
    font-style: normal;
	font-display: auto;
    font-weight: 400;
    src: url('../fonts/NotoSans/notosanskr-regular-klc.eot'), 
    url('../fonts/NotoSans/notosanskr-regular-klc.woff') format('woff');
}

@font-face {
    font-family:'NotoSansKR';
    font-style: normal;
	font-display: auto;
    font-weight: 600;
    src: url('../fonts/NotoSans/notosanskr-medium-klc.eot'), 
    url('../fonts/NotoSans/notosanskr-medium-klc.woff') format('woff');
}


@font-face {
    font-family:'NotoSansKR';
    font-style: normal;
	font-display: auto;
    font-weight: 700;
    src: url('../fonts/NotoSans/notosanskr-bold-klc.eot'), 
    url('../fonts/NotoSans/notosanskr-bold-klc.woff') format('woff');
}



/* Play */

@font-face {
    font-family: 'Play';
    font-style: normal;
	font-display: auto;
    font-weight: 400;
    src: url('../fonts/play/play-regular-webfont.eot'),
         url('../fonts/play/play-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Play';
    font-style: normal;
	font-display: auto;
    font-weight: 600;
    src: url('../fonts/play/play-bold-webfont.eot'),
         url('../fonts/play/play-bold-webfont.woff') format('woff');
}



/* JT-FONT */

@font-face {
    font-family:'jt-font';
    font-style: normal;
	font-display: block;
    font-weight: normal;
    src: url('../fonts/jt-font/jt-font.eot'),
         url('../fonts/jt-font/jt-font.woff') format('woff');
}


